{% extends 'pagina.html' %}
<!--perfil de usuario-->
{% block perfil %}
    <a href="{% url 'crear_perfil' request.user.username %}">
{% endblock %}
<!--bloque de nombre de bienvenida-->
{% block user %}
    {{request.user.first_name}}  {{request.user.last_name}}
{% endblock %}
<!--bloque de pestaña desplegable-->
{% block nombre_user %}
    {{request.user.username}}
{% endblock %}
<!--bloques de barra de opciones-->
{% block principal %}
    {% url 'inicio' %}
{% endblock %}

{% block lista_usuarios %}
    {% url 'usuarios' %}
{% endblock %}

{% block lista_perfiles %}
    {% url 'perfiles' %}
{% endblock %}

{% block pag2 %}
    <a href="{% url 'crear_user' %}">Crear Usuario</a>
{% endblock %}

{% block pag3 %}
    <a href="{% url 'crear_perfil_admin' %}">Crear Perfil</a>
{% endblock %}

{% block bienvenida %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Lista de Usuarios </h3>
                </div>
                <div class="panel-body">
                    <!--div id="shieldui-grid1"></div>-->
                    <table class="table table_center">
                        <thead>
                            <tr class="table100-head">
                                <th >Usuario</th>
                                <th >Email</th>
                                <th >Admin</th>
                                <th >Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--la clase vista envia los datos como un object_list-->
                        {% for user in object_list %}
                            <tr>
                                <td > {{ user.username }} </td>
                                <td > {{ user.email }} </td>
                                <td > {{ user.is_superuser }} </td>
                                <td >
                                    <div class="btn btn-info btn-block btn-sm">
                                        <a href="{% url 'editar_user' user.pk %}">Editar</a>  
                                    </div>
                                    <div class="btn btn-primary btn-block btn-sm">
                                        <a href="{% url 'borrar_user' user.pk %}">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}