{% extends 'pagina.html' %}

<!--bloque de nombre de bienvenida-->
{% block user %}
    {{request.user.first_name}}  {{request.user.last_name}}
{% endblock %}
<!--bloque de pestaña desplegable-->
{% block nombre_user %}
    {{request.user.username}}
{% endblock %}
<!--bloques de barra de opciones-->
{% block principal %}
    {% url 'inicio' %}
{% endblock %}

{% block lista_usuarios %}
    {% url 'usuarios' %}
{% endblock %}

{% block lista_perfiles %}
    {% url 'perfiles' %}
{% endblock %}

{% block pag2 %}
    <a href="{% url 'crear_user' %}">Crear Usuario</a>
{% endblock %}

{% block pag3 %}
    <a href="{% url 'crear_perfil_admin' %}">Crear Perfil</a>
{% endblock %}

{% block bienvenida %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Editar Perfil </h3>
                </div>
                <div class="panel-body">
                    <form method="POST" class="">
                    <table class="table table_center">
                        <tbody>
                                {% csrf_token %}
                                {% for field in form %}  
                                        <tr>
                                            <th><label>{{ field.label }}</label></th>
                                            <th>{{ field }}</th>
                                        </tr>
                                {% endfor %} 
                        </tbody>
                    </table>
                    <input type="submit" value="Actualizar Perfil" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}